<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <variable name="brief" value="${level} | ${logger} | ${message}" />
  <variable name="verbose" value="${longdate} | ${level} | ${logger} | ${callsite} | ${message}" />
  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target
        name="log"
        xsi:type="File"
        fileName="renderly.log"
        deleteOldFileOnStartup="true"
        layout="${verbose}"/>
    </target>
    <target
        name="con"
        xsi:type="ColoredConsole"
        layout="${brief}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="con" minlevel="Trace"
            layout="${brief}"/>
    <logger name="*" minlevel="Debug" writeTo="asyncFile" />
  </rules>
</nlog>